<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="emailSender" class="com.job.util.EmailSender"></bean>

    <!-- 配置jobDetail -->
    <bean id="myJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--配置用到的Job实例 -->
        <property name="targetObject">
            <ref bean="emailSender"/>
        </property>
        <!-- 配置实例中的方法 -->
        <property name="targetMethod">
            <value>run</value>
        </property>
    </bean>

    <!-- 配置触发器 -->
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="myJobDetail"/>
        </property>
        <!-- 设置出触发时间 -->
        <property name="cronExpression">
            <!-- 每5秒触发一次 -->
            <value>0/10 * * * * ?</value>
        </property>
    </bean>

    <!-- 配置scheduler工厂 -->
    <bean id="" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- 把触发器注入 可能有多个触发器 -->
        <property name="triggers">
            <list>
                <ref bean="myTrigger"/>
            </list>
        </property>
    </bean>

</beans>